<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Press Association" parallel="tests" thread-count="1"
	preserve-order="true">

	<test name="Regression" allow-return-values="true">
		<classes>
			<class name="runner.TestNG.Playlist" />
			<class name="runner.TestNG.Song" />
		</classes>
	</test>

</suite>